.ui-layout-unit .ui-layout-unit-content {
    background-color:transparent;
}



.bottomnav {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	border-radius:5px;
	border-color: transparent;
	box-shadow: 5px 5px 5px #000000;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 10px;
	color: white;
	background-color: #333;
	 z-index: 1000;
	display: inline-block;
}


	

.midcenter{
	margin-left:10%;
	margin-right:10%;
	margin-top:2%;
	margin-bottom:100px;
}
.midcenter1{
	text-align:center;
	margin-left:10%;
	margin-right:10%;
	margin-top:2%;
	margin-bottom:10px;
}
.eventinfomargin{
	margin-top:30px;
}

.eventinfopopup{
	text-align:center;
}
.ui-dialog{
background-image: url("#{resource['images/fundo1.jpg']}");
}


.header{
	
	width:100%;
	height:100%;
}

.Buy{
	border-style: solid;
	border-color: transparent;
	box-shadow: 5px 5px 5px 5px  grey;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
}

.Buy1{
	
	border-style: solid;
	border-color: transparent;
	box-shadow: 5px 5px  grey;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
}

.datatableevents{
	margin-left:10px;
	margin-right:10px;
}


.menu{
	width:100%;
	height:100%;
}
.content{
	width:100%;
	height:100%;
	background-color:transparent;
}

.index{
	position:fixed;
	width:100%;
	height:100%;
	background-color:grey;
}



.label{
	color:black;
}

h1 {
	color: black;
	font-size: 200%;
	
}

h5{
	font-size:70%;
	color:white;
}

.h55 {
    font-size:20px;
	color: white;
}

.eventname{
	color:white;
	font-size:17px;
}
.ui-layout-unit{

background-image: url("#{resource['images/fundo1.jpg']}");
}

.ui-outputpanel{
	margin-left:10%;
	margin-right:10%;
	margin-top:2%;
	margin-bottom:10px;
}
/*button*/

.ui-icon { 
	text-indent: 0; 
	}
.ui-panel-content ui-widget-content{
	
}

.ui-widget-content {
    border: 0px; 
    background-color:#020540;
    color:white;
}

.ui-widget-header{
	background-color:#020540;
	color:white;
	text-align: center;
	
}

.label{
	color:white;
}
.ui-menu .ui-menuitem-text{
	color:white;
}
.ui-menu,.ui-menu.ui-menu-child{
	background:	#020540!important;
}
.ui-corner-all {
	border-radius:0px;
}
..ui-widget-header .ui-state-default{
	background:#020540!important;
}


